/**
* PHP Simpe Login
* @author Resalat Haque
* @link http://www.w3bees.com/2013/02/php-simple-log-in-example.html
*/
*{
    margin: 0;
    padding: 0;
}
.full{
    background: #f5f5f5;
    width: 750px;
    margin:auto;
    margin-top: 20px;
}
.min{
    background: #f5f5f5;
    background: white;
    width: 300px;
    margin:auto;
    margin-top: 20px;
}
.form{
    width: 300;
    margin: auto;
    padding: 10px;
    text-align: center;
}
input{
    padding: 3px;
    margin: 5px;
}
.error{
    background: lightyellow;
    border: 1px dashed black;
    padding: 3px;
    margin: 5px;
}