.profile {
    float: left;
    width: 100%;
}

.profile .photo {
    clear: left;
    float: left;
    width: 16%;
    padding: 20px 0;
    margin: 0 0 0 4%;
    display: inline;
}

.profile .photo img {
    /*120 x 150*/
    width: 120px;
    height: 150px;
}

.profile .containerText {    
    float: right;
    width: 70%;
    padding: 20px 0;
    margin: 0 3% 0 0;
    display: inline;
}

.profile .containerText .name {
}

.profile .containerText .email {

}

.certsInfo {
    padding: 0 80px 0 80px;
}